<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Groceries Mart</title>
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="http://icons.iconarchive.com/icons/sykonist/looney-tunes/256/Marvin-Martian-icon.png"/>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div data-role="header" class="ui-header ui-bar-b" role="banner" data-theme="b" style="z-index: 10000000;display: block">
      <a href="/" data-icon="gear" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a"
         data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-btn-text"> Menu </span>
        </span>
      </a>
      <% if !session[:user].nil? %>
          <a href="/logout" data-icon="gear" class="ui-btn-right ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-a"
             data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-theme="a">
                <span class="ui-btn-inner ui-btn-corner-all">
                  <span class="ui-btn-text"> Logout </span>
                </span>
          </a>
      <% end %>

    </div>
  <a href="/" style="text-align: center"><h1 class="ui-title" role="heading" aria-level="1">Groceries Mart</h1></a>
</header>
<%= yield %>

</body>
</html>

