ListView {
    margin: 5;
    margin-top: 2%;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 1;
    border-style: solid;
    border-color: #034793;
}
Image {
    margin: 10;
}

visible {
    margin: 10;
    padding: 10;
    visibility: visible;
    background-color:gray;
    color: black;
    width:100%;
    height: 15%;
    text-align: center;
}

invisible {
    visibility: collapse;
}

