ListView {
    margin: 5;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 1;
    border-style: solid;
    border-color: #034793;
}
Image {
    margin: 10;
}

Button {
    background-color: gray;
    height: 35;
    width: 300;
    color: white;
}