<!DOCTYPE html>
<html>
<head>
  <title>NOGYO Admin</title>
  <link rel="shortcut icon" type="image/png" sizes="32x32" href="http://icons.iconarchive.com/icons/sykonist/looney-tunes/256/Marvin-Martian-icon.png"/>
  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<script>

  var showMenu = true;
  function showHideMenu() {
      if (showMenu) {
          $('#menu-container').css('display', 'none');
          $('#main-container').css('width', '100%');
          showMenu = false;
      } else {
          $('#menu-container').css('display', 'block');
          $('#main-container').css('width', '80%');
          showMenu = true;
      }
  }

  function logout(){
      jQuery.ajax({
          headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
          },
          'url': window.location.origin + "/logout",
          'Content-Type': 'application/json',
          'type':'DELETE',
          'dataType': 'json',
          'success': function(response){
              window.location.assign(window.location.origin);

          },
          'error':function (){

          }
      });
  }

</script>
<body style="margin-top: -6.2%;">
<div class="container pull-left" id="menu-container" style="width:20%">

  <div class="panel-heading">
    <div class="row" style="background-color: lightgrey">
      <div style="text-align: center;">
        <h5> Menu </h5>
      </div>
    </div>
    <div class="row" style="border:none">
      <div>
        <% if !session[:user].nil?%>
            <!--<a href="/demand/store/1"  style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Demand View</label> </a>-->
            <!--<a href="/demand/add"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Demand Add</label></a>-->
            <!--<a href="/wastage/add"  style="color:grey;text-align: center;"><label class="form-control"data-toggle="tooltip" >Wastage Add</label></a>-->
            <!--<a href="/wastage/view" style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Wastage View</label></a>-->
            <a href="/stores"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Stores</label></a>
            <a href="/users"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Users</label></a>
            <a href="/skus"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >SKUs</label></a>
            <a href="/localites"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >localities</label></a>
            <a href="javascript:logout()"   style="color:grey;text-align: center;"><label class="form-control" data-toggle="tooltip" >Logout</label></a>
        <% else %>
            <label class="form-control"><a href="/login"  style="color:grey" >Login</a></label>
            <label class="form-control"><a href="/register" style="color:grey" >Register</a></label>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container pull-right" id="main-container" style="width:80%;">
  <div class="panel-heading" style="background-color: #080808;width:100%;">
    <label style="font-size:36px;color:white;"><a href="javascript:showHideMenu()">&#9776;</a> &nbsp;&nbsp;&nbsp;Farmers Market</label>
  </div>
  <%= yield %>
</div>


</body>
</html>