<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <h4> Add SKUs </h4>
            </div>
          </div>
          <hr>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-12">
                <form id="demand-add-form" action="" method="post" role="form">
                  <div class="form-group">
                    <input type="text" name="sku_name" id="sku_name" tabindex="1" class="form-control" placeholder="Name" value="">
                  </div>
                  <div class="form-group">
                    <select id="sku_category" class="form-control">
                      <option VALUE="VEGETABLE"> VEGETABLES</option>
                      <option VALUE="FRUITS">FRUITS</option>
                      <option VALUE="GROCERIES">GROCERIES</option>
                      <option VALUE="HOUSEHOLD">HOUSEHOLD</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <textarea name="sku_description" id="sku_description" tabindex="2" class="form-control" placeholder="description" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="button" name="add-demand" id="add-demand" tabindex="4" class="form-control btn btn-default"
                               value="Add SKU" style="background-color: lightseagreen;" onclick="add_sku()">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<center><h4 style="width:75%" > List of SKUS </h4></center>
<table class="table table-condensed table-hover" id="workflowVersionsTable" style="width:75%" align="center">
  <tr class = "warning">
    <th width="16%">ID</th>
    <th width="16%">SKU Name</th>
    <th width="17%">SKU Category</th>
    <th width="17%">Description</th>
  </tr>

  <% @allSKUs.each do |demand| %>
      <tr>
        <td><%= demand["id"] %></td>
        <td><%= demand["name"] %></td>
        <td><%= demand["category"] %></td>
        <td><%= demand["description"] %></td>
      </tr>
  <% end %>
</table>