
<div class="container" style="text-align: center;width:30%;margin-top:2%;" >
  <button type="button" class="btn btn-info" onclick="add_store()">Add New Store</button>
  <br/>
  <br/>
  <input type="text" name="Name" id="storename" tabindex="1" class="form-control" placeholder="Search by Store Name" value="">
</div>

    <div class="container" style="text-align: center;width:100%; margin-top:2%;display: none" id="store_view_container">
      <table class="table table-condensed table-hover" id="storeViewTable" style="width:75%" align="center">
        <tr class = "warning">
          <th width="5%" style="text-align: center">Id</th>
          <th width="30%" style="text-align: center">Locality</th>
          <th width="15%" style="text-align: center">Phone Number</th>
          <th width="15%" style="text-align: center">Type</th>
          <th width="30%" style="text-align: center">Address</th>
          <th width="5%" style="text-align: center">Address</th>
        </tr>
        <tr>

          <td id="store_id"></td>

          <td id ="store_locality"></td>

          <td id = "store_phonenumber"></td>

          <td> <select id = "stype" class="form-control"  style="border: none">
            <option value="SMALL">SMALL</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="LARGE">LARGE</option>
          </select> </td>
          <td id = "store_address"></td>
          <td> <input class="form-control" type="button" value="Edit" style="background-color: lightseagreen" onclick="update_store()"/></td>

        </tr>
      </table>
    </div>

<div class="panel-body container" style="width: 40%;margin-top: 2%;">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
        <form id="demand-add-form" action="" method="post" role="form">
          <div class="form-group">
            <input type="text" name="storeId" id="storeId" tabindex="1" class="form-control" placeholder="StoreId" value="">
          </div>
          <div class="form-group">
            <input type="text" name="skucode" id="skucode" tabindex="1" class="form-control" placeholder="SKU CODE" value="">
          </div>
          <div class="form-group">
            <input type="text" name="quantity" id="quantity" tabindex="2" class="form-control" placeholder="Quantity">
          </div>
          <div class="form-group">
            <input type="text" name="confirm-password" id="fruit_vegetable" tabindex="2" class="form-control" placeholder="Fruit Vegetable Flag YES/NO">
          </div>
          <div class="form-group" style="margin-top: 2%;">
            <div class="row container" style="width:inherit;">
                <input type="button" name="add-demand" id="add-demand" tabindex="4" class="btn btn-default"
                       value="Add Demand" style="background-color: lightseagreen;" onclick="add_demand()">

                <input type="button" name="add-demand" id="add-demand" tabindex="4" class="btn btn-default"
                       value="Add Wastage" style="background-color: lightcoral; float: right;" onclick="add_wastage()">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="margin-left: 35%;">Add/Update Store</h4>
      </div>
      <div class="modal-body">

        <form id="store-add-update-form" action="" method="post" role="form">
          <div class="form-group">
            <input type="text" name="store_Id" id="store_Id" tabindex="1" class="form-control" placeholder="Store Id" value="" readonly>
          </div>
          <div class="form-group">
            <input type="text" name="store_name" id="store_name" tabindex="1" class="form-control" placeholder="Store Name" value="">
          </div>

          <div class="form-group">
            <input type="text" name="store_owner_name" id="store_owner_name" tabindex="1" class="form-control" placeholder="Owner's Name" value="">
          </div>
          <div class="form-group">
            <select id="store_type" class="form-control">
              <option VALUE="MEDIUM">MEDIUM</option>
              <option VALUE="SMALL">SMALL</option>
              <option VALUE="LARGE">LARGE</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" name="store_phoneNo" id="store_phoneNo" tabindex="1" class="form-control" placeholder="Store Phone No" value="">
          </div>
          <div class="form-group">
            <input type="text" name="store_Locality" id="store_Locality" tabindex="1" class="form-control" placeholder="Store Locality" value="">
          </div>
          <div class="form-group">
            <input type="text" name="store_City" id="store_City" tabindex="1" class="form-control" placeholder="City" value="">
          </div>
          <div class="form-group">
            <input type="text" name="store_State" id="store_State" tabindex="1" class="form-control" placeholder="State" value="">
          </div>
          <div class="form-group">
            <input type="text" name="store_pinCode" id="store_pinCode" tabindex="1" class="form-control" placeholder="Store Pincode" value="">
          </div>
          <div class="form-group">
            <textarea type="text" name="store_Address" id="store_Address" tabindex="1" class="form-control" placeholder="Store Address" value="" rows="3"></textarea>
          </div>
          <div class="form-group">
            <input type="button" name="store_add_button" id="store_add_button" tabindex="1" class="form-control" placeholder="Store Name" value="Add/Update Store"
                   style="background-color: lightcoral; float: right;" onclick="add_update_store()">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>

    var total_data;
    var fetchedStore;
    $("#storename").typeahead({
        onSelect: function(item) {
            var i=0;
            for(i=0;i<total_data.length;i++){
                if(total_data[i].id == item.value){
                    $('#store_id').html(total_data[i].id);
                    $('#storeId').val(total_data[i].id);
                    $('#store_locality').html(total_data[i].locality);
                    $('#store_phonenumber').html(total_data[i].phoneNo);
                    $('#store_address').html(total_data[i].address);
                    $('#stype').val(total_data[i].type);
                    $('#store_view_container').css('display','block');
                    fetchedStore = total_data[i];
                    break;
                }
            }
        },
        ajax: {
            url: "/store",
            timeout: 300,
            displayField: "name",
            triggerLength: 3,
            method: "get",
            loadingClass: "loading-circle",
            valueField: "id",
            preDispatch: function (query) {
                //showLoadingMask(true);
                return {
                    name: query
                }
            },
            preProcess: function (data) {
                //showLoadingMask(false);
                if (data.length === 0) {
                    return false;
                }
                total_data = JSON.parse(JSON.stringify(data));
                return data
            }
        }
    });


    function add_store(){
        $('#store_Id').val("");
        $('#store_name').val("");
        $('#store_locality').val("");
        $('#store_type').val("");
        $('#store_phoneNo').val("");
        $('#store_pinCode').val("");
        $('#store_Address').val("");
        $('#store_owner_name').val("");
        $('#store_City').val("");
        $('#store_State').val("");
        $('#myModal').modal('show');
    }

    function update_store(){
        $('#store_Id').val(fetchedStore['id']);
        $('#store_name').val(fetchedStore['name']);
        $('#store_Locality').val(fetchedStore['locality']);
        $('#store_type').val(fetchedStore['type']);
        $('#store_phoneNo').val(fetchedStore['phoneNo']);
        $('#store_pinCode').val(fetchedStore['pincode']);
        $('#store_Address').val(fetchedStore['address']);
        $('#store_owner_name').val(fetchedStore['ownerName']);
        $('#store_City').val(fetchedStore['city']);
        $('#store_State').val(fetchedStore['state']);
        $('#myModal').modal('show');

    }

    function add_update_store () {

        var payload = {};
        var store = {};
        store['name'] = $('#store_name').val();
        store['locality'] = $('#store_Locality').val();
        store['type'] = $('#store_type').val();
        store['phoneNo'] = $('#store_phoneNo').val();
        store['pincode'] = $('#store_pinCode').val();
        store['address'] = $('#store_Address').val();
        store['ownerName'] = $('#store_owner_name').val();
        store['city'] = $('#store_City').val();
        store['state'] = $('#store_State').val();


        if(!store['name'] || !store['locality'] || !store['phoneNo']
                || !store['pincode'] || !store['address'] || !store['ownerName']){
            alert("Required Fields are Missing");
            return -1;
        }

        payload['store'] = store;
        var methodType = 'post'
        var storeUrl = window.location.origin + "/store/add";
        var msg = "store is added";
        if($('#store_Id').val()){
            methodType = 'put';
            store['id'] = $('#store_Id').val();
            storeUrl = window.location.origin + "/store/update/";
            var msg = "store is updated";
        }

        jQuery.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'url': storeUrl,
            'data': JSON.stringify(payload),
            'type': methodType,
            'dataType': 'json',
            'success': function (response) {
                alert(msg);
                $('#myModal').modal('hide');

            },
            'error': function () {
                alert("Sorry something went wrong terribly");
            }
        });
    }



</script>