<nav class="navbar navbar-inverse" style="margin-top: -6.2%;">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav" role="tablist">
        <li id="tab0"><a href='/'><h2>Farmers Market</h2></a></li>

        <% if !session[:user].nil?%>
            <li id="tab1" ><a href="/demand/add"data-toggle="tooltip" data-placement="bottom" title="Add Demand"><h4>Demand</h4></a></li>
            <li id="tab2"><a href="/wastage/add"  data-toggle="tooltip" data-placement="bottom" title="Add Wastage"><h4>wastage</h4></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>


<script>


</script>