<center><h4 style="width:75%" > Demand for Store </h4></center>
<table class="table table-condensed table-hover" id="workflowVersionsTable" style="width:75%" align="center">
  <tr class = "warning">
    <th width="16%">ID</th>
    <th width="16%">Store ID</th>
    <th width="17%">SKU ID</th>
    <th width="17%">Vegetable/Fruit</th>
    <th width="17%">Quantity</th>
    <th width="17%">Created At</th>
  </tr>

  <% @Demands.each do |demand| %>
      <tr>
        <td><%= demand["id"] %></td>
        <td><%= demand["storeId"] %></td>
        <td><%= demand["skuCode"] %></td>
        <td><%= demand["vegetableFruitFlag"].to_s %></td>
        <td><%= demand["quantity"] %></td>
        <td><%= DateTime.parse(demand["createdAt"]).to_formatted_s(:short)  %></td>
      </tr>
  <% end %>
</table>