﻿@import { url('~/platform.css') };
Page {
    background-color: white;
    font-size: 17;
}
TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80;
}


Button {
    margin: 10;
    padding: 10;
}
.button {
    background-color:gray;
    color: black;
}

.link {
    border-width: 0;
}
.title {
    font-size: 25;
    margin-top: 40;
    margin-bottom: 20;
}