<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <h4> Add Wastage </h4>
            </div>
          </div>
          <hr>
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-12">
                <form id="demand-add-form" action="" method="post" role="form">
                  <div class="form-group">
                    <input type="text" name="storeId" id="storeId" tabindex="1" class="form-control" placeholder="StoreId" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="skucode" id="skucode" tabindex="1" class="form-control" placeholder="SKU CODE" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="quantity" id="quantity" tabindex="2" class="form-control" placeholder="Quantity">
                  </div>
                  <div class="form-group">
                    <input type="text" name="confirm-password" id="fruit_vegetable" tabindex="2" class="form-control" placeholder="Fruit Vegetable Flag YES/NO">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input type="button" name="add-wastage" id="add-demand" tabindex="4" class="form-control btn btn-default"
                               value="Add wastage" style="background-color: lightcoral;" onclick="add_wastage()">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

      function add_wastage (){
          var fruit_vegetable = (($("#fruit_vegetable").val()).toUpperCase() == "YES") ? 1 : 0;
          var payload = {};

          payload["storeId"] = $("#storeId").val();
          payload["skucode"] = $("#skucode").val();
          payload["quantity"] = $("#quantity").val();
          payload["fruit_vegetable"] = fruit_vegetable;

          jQuery.ajax({
              headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
              },
              'url': window.location.origin + "/wastage/add",
              'data': JSON.stringify(payload),
              'type':'post',
              'dataType': 'json',
              'success': function(response){
                  alert("Wastage has been noted");

              },
              'error':function (){
                  alert("Sorry something went wrong terribly");
              }
          });
      }

  </script>
