<div style="width: 80%;text-align: center;position: absolute; left:10%;margin-top:5%; height: 50%;">
    <form action="/login" method="post">
      <div class="form_element">
          <label for="username"> Username </label>
          <input type="text" name = "username" id="username" value=""/>
      </div>
      <div class="form_element">
          <label for="password"> Password </label>
          <input type="password" name = "password" id="password" value=""/>
      </div>
      <div class="form_element" style="margin-top: 10%;">
        <input type="submit" data-theme="b" value="Login" style="border: none;">
      </div>
    </form>
</div>