<div data-role="page" id = "store_view" style="margin-top: 10%;">
<div class="ui-grid-solo" style="">
  <input type="text" name="Name" id="storename" tabindex="1" class="form-control" placeholder="Search by Store Name" data-type="search">
   <ul id="autocomplete" data-role="listview" data-inset="true" data-filter="true" data-input="#storename">

   </ul>
</div>

<div class="ui-block-d" style="margin-left: 25%; width:50%;">
  <input type="text" value="" style="display:none" id = "storeId"/>
  <table class="table table-condensed table-hover" id="storeViewTable" style="padding: 10px;">
    <div class="ui-grid-a">
      <b>Id:</b>
      <div id="store_id"></div>
    </div>
    <div class="ui-grid-b">
      <b>Locality:</b>
      <div id ="store_locality"></div>
    </div>
    <div class="ui-grid-c">
      <b>Phone No:</b>
      <div id = "store_phonenumber"></div>
    </div>
    <div class="ui-grid-d">
      <b>Address:</b>
      <div id = "store_address"></div>
    </div>
  </table>
</div>

  <div class="ui-grid-solo">
      <ul id="autocomplete" data-role="listview">
        <li><a href onclick="javascript: showDemandWastage()" style="text-align: center;"> Demand/Wastage </a></li>
      </ul>
  </div>
<div class="ui-grid-solo" style="display: none;" id="demand_wastage_div" >
<form id="demand-add-form" action="" method="post" role="form">

  <div class="ui-grid-c" style="margin-top: 2%;width: 100%; margin-left:0%;" id = "sku_div">


  </div>
  <div class="ui-grid-solo" style="margin-top: 2%">
      <input type="button" name="add-demand" id="add-demand" tabindex="4" class="btn btn-default"
             value="Add Demand" style="background-color: #3388cc;" onclick="add_demands()">

      <input type="button" name="add-demand" id="add-demand" tabindex="4" class="btn btn-default"
             value="Add Wastage" style="background-color: darkred;" onclick="add_wastage()">
  </div>
</form>
</div>



</div>
</div>

<script>

//    var total_data;
//    $("#storename").typeahead({
//        onSelect: function(item) {
//            var i=0;
//            for(i=0;i<total_data.length;i++){
//                if(total_data[i].id == item.value){
//                    $('#store_id').html(total_data[i].id);
//                    $('#storeId').val(total_data[i].id);
//                    $('#store_locality').html(total_data[i].locality);
//                    $('#store_phonenumber').html(total_data[i].phoneNo);
//                    $('#store_address').html(total_data[i].address);
//                    break;
//                }
//            }
//        },
//        ajax: {
//            url: "/store",
//            timeout: 300,
//            displayField: "name",
//            triggerLength: 3,
//            method: "get",
//            loadingClass: "loading-circle",
//            valueField: "id",
//            preDispatch: function (query) {
//                //showLoadingMask(true);
//                return {
//                    name: query
//                }
//            },
//            preProcess: function (data) {
//                //showLoadingMask(false);
//                if (data.length === 0) {
//                    return false;
//                }
//                total_data = JSON.parse(JSON.stringify(data));
//                return data
//            }
//        }
//    });
</script>