
<div class="container" style="text-align: center;width:50%;margin-top:2%;" >
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" name="Name" id="useremail" tabindex="1" class="form-control" placeholder="Search by User Email" value="">
        <span class="input-group-btn">
          <button class="btn btn-secondary" style="background-color: lightseagreen;"  type="button" onclick="get_user()">Find!</button>
        </span>
      </div>
    </div>

    <input type="button" name="add-user" id="add-user" tabindex="4" class="form-control" st
           value="Add New User" style="background-color: lightseagreen;width: 20%;" onclick="show_user_add()">
  </div>
</div>

<div class="container form-group" style="text-align: center;width:100%; margin-top:2%;" >
  <table class="table table-condensed table-hover" id="storeViewTable" style="width:100%" align="center">
    <tr class = "warning">
      <th width="1%" style="text-align: center">Id</th>
      <th width="8%" style="text-align: center">Name</th>
      <th width="10%" style="text-align: center">Email Id</th>
      <th width="7%" style="text-align: center">Phone No</th>
      <th width="5%" style="text-align: center">Type</th>
      <th width="15%" style="text-align: center">Address</th>
      <th width="5%" style="text-align: center">Status</th>
    </tr>
    <tr>
      <td><input class="form-control" id = "user_id" readonly style="border: none"/></td>
      <td><input class="form-control" id = "user_name"/></td>
      <td><input class="form-control" id = "user_email_id" readonly style="border: none"/></td>
      <td><input class="form-control" id = "user_phone_no" readonly style="border: none"/></td>
      <td>
        <select class="form-control" id ="user_type">
          <option value = "ADMIN"> ADMIN</option>
          <option value = "SALES"> SALES</option>
        </select>
      </td>
      <td><textarea class="form-control" id = "user_address" rows ="3"></textarea></td>
      <td>
        <select class="form-control" id = "user_status">
          <option value = "ACTIVE"> ACTIVE</option>
          <option value = "INACTIVE"> INACTIVE</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<div class="form-group container" style="margin-top: 2%; margin-left: 45%;">
  <div class="row container" style="width:inherit;">

    <input type="button" name="add-demand" id="add-demand" tabindex="4" class="btn btn-default"
           value="Modify User" style="background-color: lightseagreen;" onclick="update_user()">

  </div>
</div>

</div>


<div id="userAddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="margin-left: 35%;">Add User</h4>
      </div>
      <div class="modal-body">

        <form id="store-add-update-form" action="" method="post" role="form">
          <div class="form-group">
            <input type="text" name="modal_username" id="modal_username" tabindex="1" class="form-control" placeholder="Name" value="">
          </div>
          <div class="form-group">
            <input type="text" name="modal_useremailId" id="modal_useremailId" tabindex="1" class="form-control" placeholder="Email/Username" value="">
          </div>

          <div class="form-group">
            <input type="password" name="modal_user_password" id="modal_user_password" tabindex="1" class="form-control" placeholder="Password" value="">
          </div>
          <div class="form-group">
            <input type="text" name="modal_user_phoneNo" id="modal_user_phoneNo" tabindex="1" class="form-control" placeholder="Phone No" value="">
          </div>
          <div class="form-group">
            <textarea type="text" name="modal_user_address" id="modal_user_address" tabindex="1" class="form-control" placeholder="Address" value="" rows="3"></textarea>
          </div>
          <div class="form-group">
            <input type="button" name="user_add_button" id="user_add_button" tabindex="1" class="form-control" placeholder="Store Name" value="Add/Update Store"
                   style="background-color: lightcoral; float: right;" onclick="add_user()">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script>

    var userResult = null;
    function get_user(){

        var email = $('#useremail').val();
        jQuery.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'url': window.location.origin + "/user/find?emailId=" + encodeURI(email),
            'type':'get',
            'dataType': 'json',
            'success': function(response){

                var dataObject = response;
                $('#user_id').val(dataObject.id);
                $('#user_name').val(dataObject.name);
                $('#user_address').val(dataObject.address);
                $('#user_email_id').val(dataObject.emailId);
                $('#user_phone_no').val(dataObject.phoneNo);
                $('#user_type').val(dataObject.type);
                $('#user_status').val(dataObject.status);
                userResult = dataObject;
            },
            'error':function (){
                alert("Sorry something went wrong terribly");
            }
        });
    }


    function show_user_add(){
        $('#userAddModal').modal('show');
    }

    function add_user(){

        if(!($('#modal_username').val() && $('#modal_useremailId').val() && $('#modal_user_password').val()
                && $('#modal_user_phoneNo').val() && $('#modal_user_address').val())){
            alert("Required Fields are Missing");
            return -1;
        }
        newUser = {};
        newUser['name'] = $('#modal_username').val();
        newUser['emailId'] = $('#modal_useremailId').val();
        newUser['password'] = $('#modal_user_password').val();
        newUser['phoneNo'] = $('#modal_user_phoneNo').val();
        newUser['address'] = $('#modal_user_address').val();

        var updatedUser = {};
        updatedUser['user'] = newUser;
        jQuery.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'url': window.location.origin + "/user/create",
            'data': JSON.stringify(updatedUser),
            'type':'post',
            'dataType': 'json',
            'success': function(response){
               alert("user created");
            },
            'error':function (){
                alert("Sorry something went wrong terribly");
            }
        });
    }

    function update_user(){

        userResult['status'] = $('#user_status').val();
        userResult['type'] = $('#user_type').val();
        userResult['address'] = $('#user_address').val();
        userResult['name'] = $('#user_name').val();

        delete userResult['createdAt'];
        delete userResult['updatedAt'];

        var updatedUser = {};
        updatedUser['user'] = userResult;
        jQuery.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'url': window.location.origin + "/user/update",
            'data': JSON.stringify(updatedUser),
            'type':'put',
            'dataType': 'json',
            'success': function(response){
                var dataObject = response;
                $('#user_id').val(dataObject.id);
                $('#user_name').val(dataObject.name);
                $('#user_address').val(dataObject.address);
                $('#user_email_id').val(dataObject.emailId);
                $('#user_phone_no').val(dataObject.phoneNo);
                $('#user_type').val(dataObject.type);
                $('#user_status').val(dataObject.status);
                alert("User Updated");
            },
            'error':function (){
                alert("Sorry something went wrong terribly");
            }
        });
    }

</script>